<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.fpt.demoparse" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThuChiActivity"
            android:label="@string/title_activity_thu_chi" >
        </activity>
        <activity
            android:name=".ThongKeActivity"
            android:label="@string/title_activity_thong_ke" >
        </activity>
        <activity
            android:name=".infoActivity"
            android:label="@string/title_activity_gioi_thieu" >
        </activity>

        <activity
            android:name=".CaiDatActivity"
            android:label="@string/title_activity_cai_dat" >
        </activity>
           </application>

</manifest>
